{{!< default}}

<main id="content" role="main" data-id="{{comment_id}}">
    <article class="{{post_class}}">
        <div class="post-header responsive-header-img-{{slug}} rellax" data-rellax-speed="7">
            <div class="inner rellax" data-rellax-speed="1">
                <h1 class="post-title">Error 404</h1> 
            </div>
        </div>
    </article>
</main>